*{
    box-sizing: border-box;
}
section.piano-roll-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.note-lanes-container{
    width: 70vw;
    display: flex;
    flex-direction: column;
}
.note-lane{
    height: 45px;
    position: relative;
}
.note-lane:nth-child(odd){
    background-color: gray;
}
.note-lane:nth-child(even){
    background-color: rgb(97, 94, 94);
}
.note-lane:nth-child(8){
    background-color: gray;
}
.note-lane:nth-child(9){
    background-color: rgb(97, 94, 94);
}
.note-lane:nth-child(10){
    background-color: gray;
}
.note-lane:nth-child(11){
    background-color: rgb(97, 94, 94);
}
.note-lane:nth-child(12){
    background-color: gray;
}
/*the notes of the melody*/
.note-lane>.note{
    position: absolute;
    background-color: cornflowerblue;
    border-radius: 11px;
    width: 50px;
    height: 100%;
}
/*piano*/
.decorative-line{
    width: 5px;
    background-color: black;
}
.piano{
    background-color: rgb(158, 126, 126);
    width: 200px;
    height: 540px; /*height equals height of note lanes*/
    display: flex;
}
.piano-keys-container{
    display: flex;
    flex-direction: column;
    width: calc(100% - 5px);
    position: relative;
}
.piano-keys-container>div{
    flex: 1;
    width: 100%;
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.white-key{
    background-color: white;
}
.piano-keys-container>.black-key{
    background-color: black;
    height: 52px;
    width: 80%;
    position: absolute;
}
/*position all of the black keys absolutely*/
.piano-keys-container>.black-key:nth-child(2){
    top: 45px;
}
.piano-keys-container>.black-key:nth-child(4){
    top: 131px;
}
.piano-keys-container>.black-key:nth-child(6){
    top: 219px;
}
.piano-keys-container>.black-key:nth-child(9){
    top: 357px;
}
.piano-keys-container>.black-key:nth-child(11){
    top: 448px;
}
/*toggle switch based on a Codepen by Marcus Burnette (source: https://codepen.io/mburnette/pen/LxNxNg)*/
input#switch-scale{ /*hide the checkbox*/
	height: 0;
	width: 0;
	visibility: hidden;
}

label[for="switch-scale"] {
	cursor: pointer;
	width: 100px;
	height: 40px;
	background: #f44025;
	display: block;
	border-radius: 100px;
	position: relative;
    margin-bottom: 10px;
}

label[for="switch-scale"]:after { /*the circle inside the toggle switch*/
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input#switch-scale:checked + label[for="switch-scale"] {
	background: #55c2da;
}

input#switch-scale:checked + label[for="switch-scale"]:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label[for="switch-scale"]:active:after { /*creates an elastic effect when the toggle is switching*/
	width: 50px;
}
label[for="switch-scale"]::before {
    content: "Major";
    position: absolute;
    left: 40px;
    top: 10px;
}
input#switch-scale:checked + label[for="switch-scale"]::before{
    content: "Minor";
    left: auto;
    right: 40px;
}
/*export message*/
.export-message{
    display: none;
}